@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    color: #3a3a3a; 
    background-image: url ('../assets/images/lavender-photo.jpeg');
    background-color: rgba(188,164,215,0.5);
}

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 20px;
}

p{ 
    text-align: center;
    padding: 10px;
}

/*img {
    height: 300px;
    width: 30%;
    padding: 30px 20px;
    float: left;
    clear: both;
}
*/


ul {
    padding: 20px;
}

li {
    list-style-type: none;
    padding: 5px;
}

/*
footer {
    margin: 0 auto;
    text-align: center;
}
*/

form {
    position: absolute;
    left: 10%;
    margin: 100px;
    padding: 30px;
    border: 2px solid grey;
    border-radius: 7px;
    background-color: rgba(254,147,105,0.2);
}

.form-input {
    display: block;
    width: 50%;
    height: 20px;
    border: 1px solid grey;
    border-radius: 7px;

}

.active {
    border-bottom: 1px solid #a393eb;
}

/* paragraph display on index.html */

.main-page {
    text-align: center;
}


#check-in-page {
    text-decoration: none;
}

#logo {
    font-size: 350%;
    padding: 20px;
    color: #9C89B3;
    letter-spacing: 3px;
    text-decoration: none;
    float: left;
}

/* navigation menu */

.navigation-menu {
    font-size: 90%;
    letter-spacing: 3px;
}

.navigation-menu li {
    float: right;
    list-style-type: none;
    margin-right: 10px;

}

.navigation-menu a{
    font-size: 200%;
    text-align: right;
    text-decoration: none;
    color: #4B4453;
    margin-right: 20px;
    padding: 15px;
}

.navigation-menu, #logo {
    line-height: 150px;
}

.navigation-menu a:hover {
    color: #a393eb;
}

/* hero image */

#hero-image {
    height: 250px;
    width: 100%;
    background: url('../images/hero-image.jpg') repeat;
    background-position: 2% 20%;
}

/* social media links */

footer {
    text-align: center;
}

footer > p {
    font-size: 120%;
    display: inline;
}

.social-media ul {
    list-style-type: none;
    display: inline;
    
}

.social-media li {
    color: #4B4453;
    font-size: 130%;
    margin-right: 30px;
    display: inline-block;
}

.social-media a:hover {
    color: #a393eb;
}

/*
.feelgood {
    display: block;
}
*/

label {
    line-height: 150px;
}

#benefits {
    text-align: center;
}

/* #image-right{
    float: right;
    clear: both;
}

/*
.text-right {
    float: right;
    clear: both;
    position: relative;
    text-align: left;
    width: 60%;
}
*/
